.ideaList {
	margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    list-style-type: none;
}

.newIdea{
	min-height: 175px;
    width: 200px;
    background-color: ivory;
    position: relative;
    margin-bottom: 20px;
    margin-right: 22px;

    form {
    	display: flex;
    	flex-direction: column;
    	padding: 5px 5px 10px;
    }

    button {
    	position: absolute;
    	top: 5px;
    	right: 8px;
    	border: none;
    	background-color: transparent;
    	color: red;
    	font-weight: bold;
    }

    .ideaHeading {
    	margin-top: 10px;
    	font-weight: bold;
    	color: #000;
    	border: none;
    	background-color: transparent;
    }

    .ideaDesc {
    	margin-top: 20px;
    	font-weight: normal;
    	color: #000;
    	border: none;
    	background-color: transparent;
    }
}